/* --- Блок: teacher-list --- */
.teacher-list {
    max-width: 1150px;
    /* --- Елемент: teacher-list__header-container --- */
    &__header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    /* --- Елемент: teacher-list__header --- */
    &__header {
        font-size: 2.5em;
        font-weight: 700;
        color: #333;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: -0.5px;
    }

    /* --- Елемент: teacher-list__item-container --- */
    &__item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    /* --- Елемент: teacher-list__status --- */
    &__status {
        text-align: center;
        font-size: 1.2em;
        color: #666;
        padding: 50px 0;
    }
}
