.main-title {
  font-size: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

img {
  margin: 0 !important;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media (max-width: 992px) {
  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .grid-view {
    grid-template-columns: auto;
  }
}

.inline-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course-wrapper-image {
  position: relative;
  padding-bottom: 40%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.course-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #05070a;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  text-decoration: none;
  background-color: hsl(220, 20%, 25%);
}
.button--inherit {
  color: rgb(71, 83, 107) !important;
  background-color: inherit;
}
.button--inherit:hover {
  background-color: rgb(235, 238, 244);
}
.button--border {
  border: 1px solid #05070a;
}
.button--border:hover {
  color: #fff !important;
  background-color: #05070a;
}

@media (max-width: 1100px) {
  .main-section-button {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}