%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-arrow:before {
	content: "\e900";
}
._icon-arrow-cube:before {
	content: "\e901";
}
._icon-arrow-nwxt:before {
	content: "\e902";
}
._icon-arrow-onload:before {
	content: "\e903";
}
._icon-arrow-round:before {
	content: "\e904";
}
._icon-arrows:before {
	content: "\e905";
}
._icon-arrow-vertical:before {
	content: "\e906";
}
._icon-attach:before {
	content: "\e907";
}
._icon-back-anclock:before {
	content: "\e908";
}
._icon-bag:before {
	content: "\e909";
}
._icon-behance:before {
	content: "\e90a";
}
._icon-bent-arrow:before {
	content: "\e90b";
}
._icon-big-arrow-vertical:before {
	content: "\e90c";
}
._icon-calendar:before {
	content: "\e90d";
}
._icon-card:before {
	content: "\e90e";
}
._icon-cart:before {
	content: "\e90f";
}
._icon-check-circle:before {
	content: "\e910";
}
._icon-check-out-circle:before {
	content: "\e911";
}
._icon-circle__close:before {
	content: "\e912";
}
._icon-circle-info:before {
	content: "\e913";
}
._icon-circle-minus:before {
	content: "\e914";
}
._icon-circle-remainder:before {
	content: "\e915";
}
._icon-circle-stop:before {
	content: "\e916";
}
._icon-close:before {
	content: "\e917";
}
._icon-close-eyes:before {
	content: "\e918";
}
._icon-delete:before {
	content: "\e919";
}
._icon-dislike:before {
	content: "\e91a";
}
._icon-doc:before {
	content: "\e91b";
}
._icon-email:before {
	content: "\e91c";
}
._icon-external-link:before {
	content: "\e91d";
}
._icon-eyes:before {
	content: "\e91e";
}
._icon-files:before {
	content: "\e91f";
}
._icon-filter1:before {
	content: "\e920";
}
._icon-filter2:before {
	content: "\e921";
}
._icon-go-arrow:before {
	content: "\e922";
}
._icon-google:before {
	content: "\e923";
}
._icon-grid:before {
	content: "\e924";
}
._icon-hanger:before {
	content: "\e925";
}
._icon-heart:before {
	content: "\e926";
}
._icon-home:before {
	content: "\e927";
}
._icon-layouts:before {
	content: "\e928";
}
._icon-like:before {
	content: "\e929";
}
._icon-line:before {
	content: "\e92a";
}
._icon-location1:before {
	content: "\e92b";
}
._icon-location2:before {
	content: "\e92c";
}
._icon-message:before {
	content: "\e92d";
}
._icon-mikro:before {
	content: "\e92e";
}
._icon-minus:before {
	content: "\e92f";
}
._icon-open-email:before {
	content: "\e930";
}
._icon-people:before {
	content: "\e931";
}
._icon-phone:before {
	content: "\e932";
}
._icon-play:before {
	content: "\e933";
}
._icon-plus:before {
	content: "\e934";
}
._icon-remainder:before {
	content: "\e935";
}
._icon-save:before {
	content: "\e936";
}
._icon-s-dr:before {
	content: "\e937";
}
._icon-search:before {
	content: "\e938";
}
._icon-select-arrow:before {
	content: "\e939";
}
._icon-s-fb:before {
	content: "\e93a";
}
._icon-share:before {
	content: "\e93b";
}
._icon-simple-check:before {
	content: "\e93c";
}
._icon-s-in:before {
	content: "\e93d";
}
._icon-s-inst:before {
	content: "\e93e";
}
._icon-s-inst-2:before {
	content: "\e93f";
}
._icon-skype:before {
	content: "\e940";
}
._icon-s-mes:before {
	content: "\e941";
}
._icon-star:before {
	content: "\e942";
}
._icon-s-tg:before {
	content: "\e943";
}
._icon-strong-remainder:before {
	content: "\e944";
}
._icon-s-tw:before {
	content: "\e945";
}
._icon-s-wh:before {
	content: "\e946";
}
._icon-s-yt:before {
	content: "\e947";
}
._icon-text-message:before {
	content: "\e948";
}
._icon-unclock:before {
	content: "\e949";
}
._icon-unclose:before {
	content: "\e94a";
}
._icon-upload:before {
	content: "\e94b";
}
._icon-viber:before {
	content: "\e94c";
}
._icon-volume-no:before {
	content: "\e94d";
}
._icon-volume-off:before {
	content: "\e94e";
}
._icon-volume-on:before {
	content: "\e94f";
}
._icon-volume-outline:before {
	content: "\e950";
}
._icon-wallet:before {
	content: "\e951";
}
._icon-warning:before {
	content: "\e952";
}
