.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__label:before {
			box-shadow: 0 0 5px #ff3f3a;
		}
		&:checked + .checkbox__label:before {
			background: #ff3f3a;

			color: #fff;
			border: toRem(1) solid #ff3f3a;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		align-items: center;
		gap: toRem(12);
		&:before {
			color: inherit;
			content: "\e93c";
			@extend %ic;
			font-size: toRem(8);
			display: flex;
			transition: all 0.3s;
			justify-content: center;
			border-radius: toRem(4);
			align-items: center;
			align-self: center;
			flex: 0 0 toRem(16);
			width: toRem(16);
			color: #ff3f3a;
			height: toRem(16);
			border: toRem(1) solid #a7a9ac;
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
	}
	.form__error {
		position: absolute;
		top: 100%;
		left: 0;
		color: var(--red);
		font-size: toRem(12);
	}
}
