// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #424551; // Site main color - (Основний колір сайту)
	--secondary: #1e212c;
	--red: #ff3f3a;
	--gray: #787a80;
	// Background colors (Фонові кольори):
	// =================================================================
	// Text colors (Текстові кольори):
	// =================================================================
	// =================================================================
}
