.about {
    // .about__main
    &__main {
    }
    // .about__stats
    &__stats {
    }
    // .about__values
    &__values {
    }
    // .about__teach
    &__teach {
    }
    // .about__how
    &__how {
    }
    // .about__teams
    &__teams {
    }
    // .about__works
    &__works {
    }
}
//========================================================================================================================================================

.main-about {
    @include adaptiveValue("padding-top", 152, 130);
    @include adaptiveValue("padding-bottom", 90, 30);
    // .main-about__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: stretch;
            gap: toRem(40);
        }
    }
    // .main-about__content
    &__content {
        @media (min-width: $mobile) {
            flex: 0 0 62.2%;
            @include adaptiveValue("padding-right", 165, 30, 0, $containerWidth, 767);
        }
    }
    // .main-about__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }
    // .main-about__label
    &__label {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 10);
        }
    }
    // .main-about__text
    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }
    // .main-about__buttons
    &__buttons {
        display: flex;
        align-items: center;
        gap: toRem(24);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
    }
    // .main-about__button
    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
    // .main-about__image-ibg
    &__image-ibg {
        align-self: center;
        padding-bottom: percent(400, 1230);
        @media (min-width: $mobile) {
            flex: 0 0 37.8%; /* 465/1230 */
        }
        @media (max-width: $mobile) {
            align-self: stretch;
            padding-bottom: percent(400, 465);
        }
    }
}
//========================================================================================================================================================
.stats {
    @include adaptiveValue("margin-top", 90, 30);
    @include adaptiveValue("padding-bottom", 90, 30);
    position: relative;
    // .stats__decor
    &__decor {
        position: absolute;
        pointer-events: none;
        // .stats__decor--1
        &--1 {
            top: percent(600, 800);
            left: percent(255, 1920);
            @media (max-width: $mobile) {
                display: none;
            }
        }
        // .stats__decor--2
        &--2 {
            @media (max-width: $mobile) {
                img {
                    max-width: toRem(50);
                }
            }
            top: percent(680, 800);
            left: percent(1680, 1920);
        }
    }

    // .stats__container
    &__container {
        position: relative;
        z-index: 2;
    }
    // .stats__top
    &__top {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        display: flex;
        align-items: center;
        gap: toRem(16);
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    // .stats__icon-play
    &__icon-play {
        img {
            max-width: 100%;
        }
    }
    // .stats__label-play
    &__label-play {
        font-size: toRem(14);
        color: var(--secondary);
        font-weight: 700;
        line-height: 150%;
    }
    // .stats__body
    &__body {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: toRem(30);
        }
    }
    // .stats__image-ibg
    &__image-ibg {
        @media (min-width: $mobile) {
            flex: 0 0 66%;
        }
        padding-bottom: percent(500, 1230);
        @media (max-width: $mobile) {
            padding-bottom: percent(500, 810);
            align-self: stretch;
        }
        transform: translate(-15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .stats__content
    &__content {
        transform: translate(15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-left", 100, 30, 0, 1440, 767);
            flex: 0 0 34%;
        }
    }
    // .stats__item
    &__item {
        display: flex;
        align-items: center;
        gap: toRem(16);
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    // .stats__number
    &__number {
        color: var(--red);
        @include adaptiveValue("font-size", 48, 32);
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
        letter-spacing: toRem(1);
    }
    // .stats__label
    &__label {
        font-size: toRem(18);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        color: var(--secondary);
    }
}
//========================================================================================================================================================
.values {
    @include adaptiveValue("margin-top", 90, 30);
    @include adaptiveValue("padding-bottom", 90, 30);
    // .values__container
    &__container {
    }
    // .values__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    // .values__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(220), 1fr));
        @include adaptiveValue("gap", 90, 30);
        > * {
            &:not(:last-child) {
                &::before {
                    content: "";
                    height: 100%;
                    position: absolute;
                    @include adaptiveValue("right", -50, 15);
                    top: 0;
                    display: block;
                    width: toRem(1);
                    background: linear-gradient(
                        270deg,
                        rgba(218, 219, 221, 0) 0%,
                        rgba(218, 219, 221, 0.5) 12.33%,
                        #dadbdd 51.91%,
                        rgba(218, 219, 221, 0.5) 87.85%,
                        rgba(218, 219, 221, 0) 100%
                    );
                    @media (max-width: em(800)) {
                        display: none;
                    }
                }
            }
        }
    }
    // .values__item
    &__item {
    }
}
.item-values {
    position: relative;
    text-align: center;
    transform: translate(0, 30%);
    opacity: 0;
    &._watcher-view {
        transition: all 0.8s;
        transform: translate(0px, 0px);
        opacity: 1;
    }
    // .item-values__icon
    &__icon {
        img {
            max-width: toRem(48);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 15);
        }
    }
    // .item-values__title
    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }
    // .item-values__text
    &__text {
    }
}
//========================================================================================================================================================
.teach {
    @include adaptiveValue("margin-top", 90, 30);
    @include adaptiveValue("padding-bottom", 90, 30);
    // .teach__container
    &__container {
    }
    // .teach__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    // .teach__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
        gap: toRem(30);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fill, minmax(toRem(270), 1fr));

            gap: toRem(20);
        }
    }
    // .teach__item
    &__item {
    }

    // .teach__more
    &__more {
        border-radius: toRem(4);
        background-color: #f4f5f6;
        @include adaptiveValue("padding", 24, 10);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .teach__info-more
    &__info-more {
        max-width: toRem(242);
        margin: 0 auto;
        font-size: toRem(20);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-align: center;
    }
}
.item-teach {
    transform: translate(0, 30%);
    opacity: 0;
    &._watcher-view {
        transition: all 0.8s;
        transform: translate(0px, 0px);
        opacity: 1;
    }
    border-radius: toRem(4);
    border: toRem(1) solid #e5e8ed;
    background-color: #fff;
    // .item-teach__image-ibg
    &__image-ibg {
        border-radius: toRem(4) toRem(4) 0 0;

        padding-bottom: percent(200, 390);
        overflow: hidden;
        img {
            transition: all 0.8s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    // .item-teach__content
    &__content {
        padding: toRem(20);
        display: grid;
        gap: toRem(20);
    }
    // .item-teach__category
    &__category {
        font-size: toRem(14);
        color: #fff;
        justify-self: start;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: toRem(3) toRem(8);
        border-radius: toRem(4);
        transition: background-color 0.3s;
        // .card-course__category--green
        &--green {
            background-color: #03cea4;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #63b7a6;
                }
            }
        }
        &--blue {
            background-color: #5a87fc;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #7da1fe;
                }
            }
        }
        &--orange {
            background-color: #f89828;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #fbaf58;
                }
            }
        }
        &--pink {
            background-color: #f52f6e;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #fa6594;
                }
            }
        }
    }
    // .item-teach__text
    &__text {
        color: var(--gray);
    }
    // .item-teach__link
    &__link {
        font-weight: 700;
        line-height: 160%;
        color: var(--secondary);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: toRem(16);
        justify-content: start;
        &::before {
            color: var(--red);
            transition: all 0.3s;
        }
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    transform: translate(5px, 0px);
                }
                color: var(--red);
            }
        }
    }
}
//========================================================================================================================================================
.how {
    position: relative;
    @include adaptiveValue("padding-top", 90, 30);
    @include adaptiveValue("padding-bottom", 190, 60);

    // .how__decor
    &__decor {
        position: absolute;
        pointer-events: none;
        // .how__decor--1
        &--1 {
            top: 0;
            right: 0;
            img {
                @include adaptiveValue("max-width", 242, 70, 0, 1440, 992);
            }
        }
        // .how__decor--2
        &--2 {
            bottom: 4%;
            left: percent(127, 1920);
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    // .how__container
    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: stretch;
            gap: toRem(30);
        }
    }
    // .how__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    // .how__content
    &__content {
        @media (min-width: $mobile) {
            flex: 0 0 57%; /* 522/1230 */
            @include adaptiveValue("padding-right", 200, 20, 0, 1440, 767);
        }
    }
    // .how__item
    &__item {
        @include adaptiveValue("padding-left", 45, 20);
        padding-bottom: toRem(27);
        position: relative;
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
        transform: translate(0, 30%);

        &._watcher-view {
            transform: translate(0px, 0px);

            &::before {
                opacity: 1;
            }
            &::after {
                height: 90%;
            }
        }
        &::before {
            content: "";
            width: toRem(8);
            height: toRem(8);
            border-radius: 50%;
            background-color: var(--red);
            position: absolute;
            top: toRem(7);
            left: 0;
            opacity: 0;
            transition: all 0.8s;
        }
        &::after {
            content: "";
            position: absolute;
            top: toRem(22);
            transition: all 1.5s;
            left: toRem(4);
            opacity: 0.5;
            background: #9a9ca5;
            height: 0;
            width: toRem(1);
        }
    }
    // .how__step
    &__step {
        font-size: toRem(12);
        font-style: normal;
        font-weight: 900;
        line-height: 150%;
        color: var(--gray);
        &:not(:last-child) {
            margin-bottom: toRem(2);
        }
        opacity: 0;
        transform: translate(0px, 30%);
        ._watcher-view & {
            opacity: 1;
            transition: all 0.8s;
            transform: translate(0px, 0px);
        }
    }
    // .how__title
    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
        opacity: 0;
        transform: translate(0px, 30%);
        ._watcher-view & {
            opacity: 1;
            transition: all 0.8s 0.2s;
            transform: translate(0px, 0px);
        }
    }
    // .how__text
    &__text {
        color: var(--gray);
        opacity: 0;
        transform: translate(0px, 30%);
        ._watcher-view & {
            opacity: 1;
            transition: all 0.8s 0.3s;
            transform: translate(0px, 0px);
        }
    }
    // .how__image-ibg
    &__image-ibg {
        transform: translate(10%, 10%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        padding-bottom: percent(620, 1230);
        @media (min-width: $mobile) {
            flex: 0 0 43%; /* 522/1230 */
        }
        @media (max-width: $mobile) {
            padding-bottom: percent(620, 525);
        }
    }
}
//========================================================================================================================================================
.teams {
    @include adaptiveValue("padding-bottom", 120, 40);
    // .teams__container
    &__container {
    }
    // .teams__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    // .teams__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(260), 1fr));
        gap: toRem(30);
    }
    // .teams__item
    &__item {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
}
//========================================================================================================================================================
.works {
    @include adaptiveValue("padding-top", 60, 20);
    @include adaptiveValue("padding-bottom", 100, 40);
    background-color: #f4f5f6;
    position: relative;
    // .works__decor
    &__decor {
        position: absolute;
        pointer-events: none;
        // .works__decor--1
        &--1 {
            top: 0;
            left: percent(90, 1920);
        }
    }
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    // .works__container
    &__container {
        position: relative;
        z-index: 2;
    }
    // .works__items
    &__items {
        opacity: 0;

        &._watcher-view {
            opacity: 1;
            transition: all 0.8s;
        }
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(100), 1fr));

        @include adaptiveValue("column-gap", 120, 20, 0, 1440, 992);
        @include adaptiveValue("row-gap", 40, 20, 0, 1440, 992);
    }
    // .works__item-ibg
    &__item-ibg {
        padding-bottom: percent(64, 120);
    }
}
