.page {
    // .page__main
    &__main {
    }
    // .page__why
    &__why {
    }
    // .page__featured-courses
    &__featured-courses {
    }
    // .page__benefits
    &__benefits {
    }
    // .page__workshops
    &__workshops {
    }
    // .page__team
    &__team {
    }
    // .page__posts
    &__posts {
    }
}

// Заголовки, загальні БЕМ блоки та інше...
.title {
    color: var(--secondary);
    @include adaptiveValue("font-size", 46, 28);
    font-weight: 900;
    line-height: 130%;
    &--bg {
        @include adaptiveValue("font-size", 64, 32);
    }
    &--center {
        text-align: center;
    }
    &--sm {
        @include adaptiveValue("font-size", 20, 18);
        font-weight: 700;
        line-height: 150%;
    }
    // .title--fz32
    &--fz32 {
        color: var(--secondary);
        @include adaptiveValue("font-size", 32, 20);
        font-weight: 900;
        line-height: 130%;
    }
}
.text {
    font-weight: 400;
    line-height: 160%;
}
//========================================================================================================================================================
.section-header {
    // .section-header__label
    &__label {
        color: var(--secondary);
        font-weight: 700;
        line-height: 150%;
        letter-spacing: toRem(1);
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
        &--red {
            color: #ff3f3a;
        }
    }
    // .section-header__title
    &__title {
    }
    &--center {
        text-align: center;
        .section-header__title {
            opacity: 0;
            transform: translate(0px, 30%);
        }
        .section-header__label {
            opacity: 0;

            transform: translate(0px, 30%);
        }

        &._watcher-view {
            .section-header__title {
                opacity: 1;
                transition: all 0.8s 0.2s;
                transform: translate(0px, 0px);
            }
            .section-header__label {
                opacity: 1;
                transition: all 0.8s;
                transform: translate(0px, 0px);
            }
        }
    }
    &--max {
        max-width: toRem(810);
        margin: 0 auto;
    }
}
//========================================================================================================================================================
.list {
    display: grid;
    gap: toRem(12);
    // .list__item
    &__item {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 16, 10);
        color: #424551;
        line-height: 160%;
        &::before {
            color: #ff3f3a;
        }
    }
}
//========================================================================================================================================================
.card-course {
    border-radius: 4px;
    border: 1px solid #e5e8ed;
    background: #fff;
    /* shadow/small */
    box-shadow:
        0px 4px 4px -4px rgba(30, 33, 44, 0.03),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    // .card-course--horisontal
    &--horisontal {
        display: flex;
        .card-course__image-ibg {
            aspect-ratio: 1/1;
            flex: 0 0 toRem(214);
            padding-bottom: 0;
        }
    }
    // .card-course__image-ibg
    &__image-ibg {
        overflow: hidden;
        img {
            transition: transform 0.8s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
        padding-bottom: percent(240, 390);
        display: block;
    }
    // .card-course__content
    &__content {
        flex: 1 1 auto;
        display: grid;
        align-content: start;
        @include adaptiveValue("gap", 20, 15, 0, $containerWidth, 992);
        @include adaptiveValue("padding", 32, 15, 0, $containerWidth, 992);
    }
    // .card-course__category
    &__category {
        font-size: toRem(14);
        color: #fff;
        justify-self: start;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: toRem(3) toRem(8);
        border-radius: toRem(4);
        transition: background-color 0.3s;
        // .card-course__category--green
        &--green {
            background-color: #03cea4;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #63b7a6;
                }
            }
        }
        &--blue {
            background-color: #5a87fc;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #7da1fe;
                }
            }
        }
        &--orange {
            background-color: #f89828;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #fbaf58;
                }
            }
        }
        &--pink {
            background-color: #f52f6e;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #fa6594;
                }
            }
        }
    }
    // .card-course__title
    &__title {
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: var(--red);
            }
        }
    }
    // .card-course__info
    &__info {
        display: flex;
        align-items: center;
        line-height: 150%;
        gap: toRem(8);
    }
    // .card-course__price
    &__price {
        color: var(--red);
        @include adaptiveValue("font-size", 18, 16);
        font-weight: 700;
    }
    // .card-course__by
    &__by {
        color: var(--gray);
        @include adaptiveValue("font-size", 18, 14);
        display: flex;
        align-items: center;
        gap: toRem(8);
        &::before {
            content: "";
            width: toRem(1);
            height: toRem(16);
            background-color: var(--gray);
        }
    }
}
//========================================================================================================================================================
.item-event {
    border-radius: toRem(4);
    background-color: #fff;
    @include adaptiveValue("padding-top", 32, 15);
    @include adaptiveValue("padding-bottom", 32, 15);
    @include adaptiveValue("padding-left", 40, 15);
    @include adaptiveValue("padding-right", 40, 15);
    display: grid;
    @include adaptiveValue("gap", 40, 20, 0, $containerWidth, 767);
    grid-template-columns: minmax(toRem(180), percent(180, 1920)) 1fr minmax(toRem(140), percent(140, 1920));
    align-items: start;

    transform: translate(0, 30%);
    opacity: 1;
    &._watcher-view {
        transition:
            transform 0.8s,
            opacity 0.8s,
            box-shadow 0.3s;
        transform: translate(0px, 0px);
        opacity: 1;
    }
    @media (any-hover: hover) {
        &:hover {
            box-shadow:
                0px 4px 4px -4px rgba(30, 33, 44, 0.05),
                0px 12px 10px -6px rgba(255, 63, 58, 0.08),
                0px 30px 24px -10px rgba(255, 63, 58, 0.1),
                0px 80px 80px -20px rgba(255, 63, 58, 0.16);
        }
    }
    @media (max-width: $mobile) {
        grid-template-columns: auto;
    }
    // .item-event__date
    &__date {
        display: flex;
        gap: toRem(20);
    }

    // .item-event__info
    &__info {
    }

    // .item-event__number
    &__number {
        color: var(--red);
        @include adaptiveValue("font-size", 48, 32);
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
        letter-spacing: toRem(1);
        &:not(:last-child) {
            margin-bottom: toRem(4);
        }
    }
    // .item-event__time
    &__time {
        font-weight: 400;
        line-height: 160%;
    }
    // .item-event__month
    &__month {
        color: var(--secondary);
        @include adaptiveValue("font-size", 20, 18);
        font-weight: 700;
        line-height: 150%;
    }
    // .item-event__body
    &__body {
    }
    // .item-event__title
    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(4);
        }
    }
    // .item-event__category
    &__category {
        color: #787a80;
    }
    // .item-event__button
    &__button {
    }
}
//========================================================================================================================================================
.block-more {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: em(550)) {
        flex-direction: column;
    }
    transform: translate(0, 30%);
    opacity: 1;
    &._watcher-view {
        transition: all 0.8s;
        transform: translate(0px, 0px);
        opacity: 1;
    }
    @include adaptiveValue("gap", 40, 20);
    // .block-more__title
    &__title {
        color: var(--secondary);
        @include adaptiveValue("font-size", 28, 20);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    // .block-more__button
    &__button {
    }
}
//========================================================================================================================================================
.certificate {
    background-color: #fff;
    @include adaptiveValue("padding-top", 120, 40);
    &--center {
        .certificate__container {
            @media (min-width: $mobile) {
                align-items: center;
            }
        }
        @include adaptiveValue("padding-bottom", 120, 40);
    }
    // .certificate__container
    &__container {
        display: flex;
        @media (max-width: $mobile) {
            gap: toRem(20);
            flex-direction: column;
        }
    }
    // .certificate__content
    &__content {
        transform: translate(-15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            flex: 0 0 42.7%;
            @include adaptiveValue("padding-right", 135, 40, 0, $containerWidth, 800);
        }
    }
    // .certificate__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }
    // .certificate__text
    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 15);
        }
    }
    // .certificate__copmanys
    &__copmanys {
        display: flex;
        align-items: center;
        @media (max-width: em(800)) {
            flex-wrap: wrap;
        }
        @include adaptiveValue("gap", 40, 15);
    }
    // .certificate__copmany
    &__copmany {
        img {
            max-width: 100%;
        }
    }
    // .certificate__image-ibg
    &__image-ibg {
        transform: translate(15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        padding-bottom: percent(500, 1230);
        @media (max-width: $mobile) {
            padding-bottom: percent(800, 1230);
        }
        @media (min-width: $mobile) {
            flex: 0 0 57.3%; /* 705/1230 */
        }
        z-index: 3;
        box-shadow:
            0px 4px 4px -4px rgba(30, 33, 44, 0.05),
            0px 12px 10px -6px rgba(154, 156, 165, 0.08),
            0px 30px 24px -10px rgba(154, 156, 165, 0.1),
            0px 80px 80px -20px rgba(154, 156, 165, 0.16);
    }
}
//========================================================================================================================================================
.team-item {
    text-align: center;
    // .team-item__body
    &__body {
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
                .team-item__socials {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }
        border-radius: toRem(4);
        background-color: #ffcf2d;
        padding: toRem(20) toRem(20) toRem(0) toRem(20);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 2;
            left: 0;
            border-radius: toRem(4);
            .touch & {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
            background: linear-gradient(
                180deg,
                rgba(30, 33, 44, 0) 43.9%,
                rgba(30, 33, 44, 0.03) 55.21%,
                rgba(30, 33, 44, 0.33) 68.73%,
                rgba(30, 33, 44, 0.56) 76.17%,
                rgba(30, 33, 44, 0.77) 83.75%,
                rgba(30, 33, 44, 0.92) 91.49%,
                #1e212c 100%
            );
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s;
        }
    }
    // .team-item__image-ibg
    &__image-ibg {
        padding-bottom: percent(320, 245);
    }
    // .team-item__socials
    &__socials {
        position: absolute;
        bottom: toRem(20);
        right: toRem(20);
        display: flex;
        align-items: center;
        gap: toRem(12);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s;
        .touch & {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
    // .team-item__social
    &__social {
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
        font-size: 0;
        &::before {
            font-size: toRem(20);
        }
    }
    // .team-item__bottom
    &__bottom {
    }
    // .team-item__name
    &__name {
        &:not(:last-child) {
            margin-bottom: toRem(4);
        }
    }
    // .team-item__position
    &__position {
        color: var(--gray);
    }
}
//========================================================================================================================================================
.arrows {
    display: flex;
    align-items: center;
    gap: toRem(5);
    align-self: flex-end;
}
.arrow {
    width: toRem(48);
    flex: 0 0 toRem(48);
    height: toRem(48);
    @media (max-width: $mobileSmall) {
        width: toRem(34);
        flex: 0 0 toRem(34);
        height: toRem(34);
        font-size: toRem(12);
    }
    border-radius: 50%;
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            color: #fff;
            background-color: #ff3f3a;
        }
    }

    .touch & {
        color: #fff;
        background-color: #ff3f3a;
    }
    &.swiper-button-disabled {
        .touch & {
            color: #424551;
            background-color: transparent;
        }
        opacity: 0.3;
        @media (any-hover: hover) {
            &:hover {
                color: #424551;
                background-color: transparent;
            }
        }
    }

    // .arrow--prev
    &--prev {
        transform: rotate(-180deg);
    }
    // .arrow--next
    &--next {
    }
}
//========================================================================================================================================================
.item-blog {
    // .item-blog__top
    &__top {
        position: relative;
    }
    // .item-blog__image-ibg
    &__image-ibg {
        padding-bottom: percent(300, 390);
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
        overflow: hidden;
        img {
            transition: all 0.8s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    // .item-blog__categories
    &__categories {
        position: absolute;
        top: toRem(12);
        left: toRem(12);
        display: grid;
        gap: toRem(5);
    }
    // .item-blog__category
    &__category {
        font-size: toRem(14);
        font-weight: 400;
        line-height: 150%;
        display: flex;
        align-items: center;
        gap: toRem(4);
        border-radius: toRem(4);
        background-color: #fff;
        padding: toRem(2) toRem(8);
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #e5e5e5;
            }
        }
    }
    // .item-blog__body
    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    // .item-blog__block
    &__block {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 24, 10, 0, $containerWidth, 992);
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
        > * {
            &:not(:last-child) {
                position: relative;
                &::after {
                    content: "|";
                    @include adaptiveValue("right", -14, -7, 0, $containerWidth, 992);

                    top: 0;
                    position: absolute;
                }
            }
        }
    }
    // .item-blog__info
    &__info {
        position: relative;
        font-size: toRem(14);
        font-weight: 400;
        line-height: 150%;
        flex: 0 0 auto;
        // .item-blog__info--specialty
        &--specialty {
            font-weight: 700;
        }
        // .item-blog__info--icon
        &--icon {
            display: flex;
            align-items: center;
            gap: toRem(8);
        }
    }

    // .item-blog__title
    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }
    // .item-blog__link-title
    &__link-title {
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: var(--red);
            }
        }
    }
    // .item-blog__text
    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(17);
        }
    }
    // .item-blog__link
    &__link {
        color: var(--secondary);
        font-weight: 700;
        line-height: 130%; /* 25.6px */
        display: flex;
        align-items: center;
        justify-content: start;
        gap: toRem(8);
        flex-direction: row-reverse;
        &::before {
            color: #ff3f3a;
            font-size: toRem(14);
            transition: all 0.3s;
            transform: translate(0px, 2px);
        }
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    transform: translate(5px, 2px);
                }
                color: var(--red);
            }
        }
    }
}
//========================================================================================================================================================
.main-block {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background: var(--btn-gradient, linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%));
    }
    @include adaptiveValue("padding-top", 190, 130);
    @include adaptiveValue("padding-bottom", 120, 40);
    // .main-block__decor
    &__decor {
        position: absolute;
        // .main-block__decor--1
        &--1 {
            img {
                @include adaptiveValue(" max-width", 284, 70);
            }
            bottom: 0;
            left: 0;
        }
        // .main-block__decor--2
        &--2 {
            img {
                @include adaptiveValue(" max-width", 88, 70);
            }
            top: percent(128, 468);
            left: percent(172, 1920);
        }
        // .main-block__decor--3
        &--3 {
            top: percent(123, 468);
            left: percent(1763, 1920);
            img {
                @include adaptiveValue(" max-width", 187, 100);
            }
        }
        // .main-block__decor--4
        &--4 {
            top: percent(410, 468);
            left: percent(1543, 1920);
            img {
                @include adaptiveValue(" max-width", 110, 70);
            }
        }
    }
    // .main-block__container
    &__container {
        position: relative;
        z-index: 2;
    }
    // .main-block__header
    &__header {
        max-width: toRem(1020);
    }
}
//========================================================================================================================================================
.info-block {
    padding: toRem(40) toRem(32);
    border-radius: 4px;
    border: toRem(1) solid #e5e8ed;
    background-color: #fff;
    @media (max-width: $mobileSmall) {
        padding: toRem(32) toRem(20);
    }
    /* shadow/small */
    box-shadow:
        0px 4px 4px -4px rgba(30, 33, 44, 0.03),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    // .info-block__columns
    &__columns {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 25);
        }
    }
    // .info-block__column
    &__column {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 20);
        }
    }
    // .info-block__label
    &__label {
        color: var(--secondary);
        font-size: toRem(14);
        font-weight: 700;
        line-height: 150%;
        letter-spacing: toRem(1);
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: toRem(4);
        }
    }
    // .info-block__date
    &__date {
        color: var(--red);
        @include adaptiveValue("font-size", 24, 20);
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 31.2px */
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }
    // .info-block__describe
    &__describe {
    }
    // .info-block__link
    &__link {
        color: #ff3f3a;
        font-size: toRem(14);
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: toRem(1);
        text-decoration-line: underline;
        text-transform: uppercase;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: none;
            }
        }
    }
    // .info-block__button
    &__button {
    }
}
//========================================================================================================================================================
.curator {
    position: relative;
    // .curator__decor
    &__decor {
        position: absolute;

        // .curator__decor--1
        &--1 {
            top: 0;
            left: percent(195, 1920);

            img {
                max-width: 100%;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
        // .curator__decor--2
        &--2 {
            top: percent(48, 857);
            left: percent(1653, 1920);
            img {
                @include adaptiveValue("font-size", 88, 70);
            }
        }
    }

    @include adaptiveValue("padding-top", 66, 40);
    @include adaptiveValue("padding-bottom", 180, 60);

    // .curator__container
    &__container {
        display: flex;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            gap: toRem(30);
        }
    }
    // .curator__image-ibg
    &__image-ibg {
        transform: translate(-15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        align-self: start;

        padding-bottom: percent(600, 1200);
        flex: 0 0 40.2%;
        @media (max-width: $tablet) {
            flex: 0 0 50%;
            padding-bottom: percent(600, 900);
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            align-self: stretch;
            padding-bottom: percent(485, 400);
        }
    }
    // .curator__content
    &__content {
        transform: translate(15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        flex: 0 0 59.8%;
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-left", 135, 40, 0, $containerWidth, 992);
        }
        @media (max-width: $tablet) {
            flex: 0 0 50%;
        }
    }
}
.content-curator {
    // .content-curator__header
    &__header {
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }
    // .content-curator__position
    &__position {
        color: var(--gray);
        @include adaptiveValue("font-size", 20, 18);
        font-weight: 400;
        line-height: 150%; /* 30px */
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 10);
        }
    }
    // .content-curator__list
    &__list {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 10);
        }
    }
    // .content-curator__item
    &__item {
        display: flex;
        align-items: center;
        gap: toRem(8);
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        &:not(:last-child) {
            margin-bottom: toRem(4);
        }
        &::before {
            color: var(--red);
        }
    }
    // .content-curator__companys
    &__companys {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 40, 20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    // .content-curator__company
    &__company {
        img {
            max-width: 100%;
            @media (min-width: $mobileSmall) {
                opacity: 0;
            }
            transition: all 0.3s;
        }
        position: relative;
        @media (any-hover: hover) {
            &:hover {
                @media (min-width: $mobileSmall) {
                    &::before {
                        opacity: 0;
                    }
                    img {
                        opacity: 1;
                    }
                }
            }
        }
        @media (min-width: $mobileSmall) {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                transition: all 0.3s;
                height: 100%;
                z-index: 2;
                top: 0;
                left: 0;
                opacity: 1;
            }
            &:nth-child(1) {
                &::before {
                    background: url("@img/curator/copmanys/logo1.png") 0 0 no-repeat;
                }
            }
            &:nth-child(2) {
                &::before {
                    background: url("@img/curator/copmanys/logo2.png") 0 0 no-repeat;
                }
            }
            &:nth-child(3) {
                &::before {
                    background: url("@img/curator/copmanys/logo3.png") 0 0 no-repeat;
                }
            }
        }
    }
    // .content-curator__text
    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 25);
        }
    }
    // .content-curator__socials
    &__socials {
        display: flex;
        align-items: center;
        gap: toRem(24);
    }
    // .content-curator__social
    &__social {
        transition: color 0.3s;
        font-size: toRem(0);
        &::before {
            font-size: toRem(24);
        }
        @media (any-hover: hover) {
            &:hover {
                color: var(--red);
            }
        }
    }
}
//========================================================================================================================================================
.benefits-info {
    // .benefits__container
    &__container {
        display: flex;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: toRem(30);
        }
    }
    // .benefits__content
    &__content {
        transform: translate(-15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            flex: 0 0 40.2%;
        }
    }
    // .benefits__list
    &__list {
        transform: translate(15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-left", 135, 40, 0, $containerWidth, 992);
            flex: 0 0 59.8%;
        }
    }
    // .benefits__item
    &__item {
        @include adaptiveValue("font-size", 20, 18);
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 10);
        }
        display: flex;
        align-items: start;
        gap: toRem(16);
        &::before {
            color: var(--red);
        }
    }
}
//========================================================================================================================================================
.faq {
    // .faq__wrapper
    &__wrapper {
    }
    // .faq__item
    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .faq__title
    &__title {
        padding-left: toRem(40);
        color: var(--secondary);
        @include adaptiveValue("font-size", 20, 18);
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
        cursor: pointer;
        span {
            color: var(--red);
        }

        position: relative;
        ._spoller-init & {
            cursor: pointer;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                background-color: var(--red);
                height: 2px;
                width: toRem(20);
                transition:
                    transform 0.5s ease 0s,
                    background-color 0.3s;
            }
            @media (any-hover: hover) {
                &:hover {
                    &::before,
                    &::after {
                        background-color: var(--secondary);
                    }
                }
            }
            &::before {
                transform: translate(-0%, -50%);
            }
            &::after {
                transform: translate(0, 0%) rotate(-90deg);
            }
            &._spoller-active {
                &::before,
                &::after {
                    background-color: var(--secondary);
                }
                &::before {
                    // transform: translateX(-75%) rotate(-40deg);
                }
                &::after {
                    transform: rotate(0);
                }
            }
        }
    }
    // .faq__body
    &__body {
        padding-left: toRem(40);

        padding-top: toRem(16);
    }
}
//========================================================================================================================================================
.block-registr {
    // .block-registr__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    // .block-registr__form
    &__form {
    }
}
//========================================================================================================================================================
.form {
    // .form__lines
    &__lines {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 25);
        }
    }
    // .form__line
    &__line {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
        &--bg {
            @media (min-width: em(600)) {
                grid-column: span 2;
            }
        }
        position: relative;
        .form__error {
            position: absolute;
            top: 103%;
            left: 0;
            color: var(--red);
            font-size: toRem(12);
        }
    }
    // .form__label
    &__label {
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
        font-weight: 400;
        line-height: 160%;
    }
    &__info {
        font-weight: 400;
        line-height: 160%;
    }
    // .form__input
    &__input {
    }
    // .form__button
    &__button {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .form__items
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(24);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 25);
        }
        @media (max-width: em(600.98)) {
            grid-template-columns: auto;
        }
    }

    // .form__textarea
    &__textarea {
        padding: toRem(16);
        min-height: toRem(130);
    }
    // .form__bottom
    &__bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        @media (max-width: em(550)) {
            grid-template-columns: auto;
        }
        @include adaptiveValue("gap", 50, 25);
        .checkbox__label {
            &::before {
                color: #fff;
            }
        }
    }
}
//========================================================================================================================================================
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(20);
}
.pag {
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    font-size: toRem(16);
    &.active {
        color: var(--red);
    }
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            color: var(--red);
        }
    }
}
//========================================================================================================================================================
.subscribe-block {
    background-color: #f4f5f6;
    .checkbox__label {
        &::before {
            color: #f4f5f6;
        }
    }
    // .subscribe-block__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            gap: toRem(30);
        }
    }
    // .subscribe-block__image-ibg
    &__image-ibg {
        padding-bottom: percent(454, 1230);
        @media (min-width: $tablet) {
            flex: 0 0 41%;
        }
        opacity: 0;

        &._watcher-view {
            opacity: 1;
            transition: all 0.8s;
        }
        @media (max-width: $mobile) {
            align-self: stretch;
            padding-bottom: percent(454, 507);
        }
    }
    // .subscribe-block__content
    &__content {
        opacity: 0;
        transform: translate(0px, 30%);
        &._watcher-view {
            opacity: 1;
            transition: all 0.8s;
            transform: translate(0px, 0px);
        }
        position: relative;
        z-index: 2;
        @media (min-width: $mobile) {
            flex: 0 0 59%;
            @include adaptiveValue("padding-left", 114, 30, 0, 1440, 992);
        }
        @media (max-width: $tablet) {
            padding-top: toRem(40);
            padding-bottom: toRem(10);
        }
    }
    // .subscribe-block__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }
    // .subscribe-block__form
    &__form {
    }
    // .subscribe-block__block
    &__block {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 24, 15);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: stretch;
        }
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .subscribe-block__line
    &__line {
        position: relative;
        flex: 1 1 auto;
        .form__error {
            position: absolute;
            top: 100%;
            font-size: toRem(12);
            color: var(--red);
            left: 0;
        }
    }
    // .subscribe-block__button
    &__button {
    }
    // .subscribe-block__checkbox
    &__checkbox {
        font-weight: 400;
        line-height: 160%;
    }
}
//========================================================================================================================================================
// ! preloader

.lock body {
    // overflow: hidden;
    // touch-action: none;
    // overscroll-behavior: none;
}
.loading body {
    opacity: 0;
    // visibility: hidden;
}
.loaded body {
    transition: opacity 0.5s ease 0s;
    opacity: 1;
    // visibility: visible;
}

/* Preloader */
.ctn-preloader {
    align-items: center;
    cursor: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
}

.ctn-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 3px solid var(--red);
    border-top-color: var(--secondary); /* No se identa por orden alfabetico para que no lo sobre-escriba */
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}

/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
    font:
        bold 5em "Montserrat",
        sans-serif;
    text-align: center;
    user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    color: var(--red);
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
    color: rgba(30, 33, 44, 0.4);
    position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    animation-delay: 0.1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    animation-delay: 0.3s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    animation-delay: 0.5s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    animation-delay: 0.6s;
}

.ctn-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
    left: 0;
}

.ctn-preloader .loader-section.section-right {
    right: 0;
}

/* Efecto de fade en la animación de cargando */
.loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: 1s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

.loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: 1s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

/* Animación del preloader */
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

/* Animación de las letras cargando del preloader */
@keyframes letters-loading {
    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

/* Tamaño de portatil hacia atras (portatil, tablet, celular) */
@media screen and (max-width: 767px) {
    /* Preloader */
    /* Spinner cargando */
    .ctn-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }

    /* Texto cargando */
    .ctn-preloader .animation-preloader .txt-loading {
        font:
            bold 3.5em "Montserrat",
            sans-serif;
    }
}

@media screen and (max-width: 500px) {
    /* Prelaoder */
    /* Spinner cargando */
    .ctn-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    /* Texto cargando */
    .ctn-preloader .animation-preloader .txt-loading {
        font:
            bold 2em "Montserrat",
            sans-serif;
    }
}
