.contact {
    // .contact__main
    &__main {
    }
    // .contact__drop
    &__drop {
    }
}
//========================================================================================================================================================
.main-contact {
    @include adaptiveValue("padding-top", 153, 130);
    @include adaptiveValue("padding-bottom", 90, 30);
    // .main-contact__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: toRem(30);
            align-items: stretch;
        }
    }

    // .main-contact__content
    &__content {
        transform: translate(-15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-right", 130, 30, 0, 1440, 992);
            flex: 0 0 43%;
        }
    }
    // .main-contact__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    // .main-contact__list
    &__list {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }

    // .main-contact__item
    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 20);
        }
        display: flex;
        align-items: center;
        gap: toRem(24);
        &::before {
            color: var(--red);
            font-size: toRem(24);
        }
    }
    // .main-contact__wrap
    &__wrap {
    }
    // .main-contact__label
    &__label {
        font-size: toRem(14);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        color: var(--gray);
        &:not(:last-child) {
            margin-bottom: toRem(1);
        }
    }
    // .main-contact__link
    &__link {
        font-size: toRem(18);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: var(--red);
            }
        }
        color: var(--secondary);
    }
    // .main-contact__block
    &__block {
    }
    // .main-contact__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 20);
        }
        color: var(--secondary);
        font-weight: 700;
        line-height: 150%; /* 24px */
        letter-spacing: toRem(1);
        text-transform: uppercase;
    }
    // .main-contact__socials
    &__socials {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 32, 20);
    }
    // .main-contact__social
    &__social {
        transition: all 0.3s;
        color: var(--gray);
        font-size: 0;
        &::before {
            font-size: toRem(24);
        }
        @media (any-hover: hover) {
            &:hover {
                color: #000;
            }
        }
    }
    // .main-contact__map
    &__map {
        @media (min-width: $mobile) {
            flex: 0 0 57%; /* 705/1230 */
        }
        transform: translate(15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    // .main-contact__image-ibg
    &__image-ibg {
        padding-bottom: percent(705, 1230);
        @media (max-width: $mobile) {
            padding-bottom: percent(412, 705);
        }
    }
}
//========================================================================================================================================================
.drop {
    @include adaptiveValue("padding-top", 90, 30);
    @include adaptiveValue("padding-bottom", 180, 40);
    // .drop__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            gap: toRem(40);
            align-items: stretch;
        }
    }
    // .drop__image-ibg
    &__image-ibg {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            flex: 0 0 35%;
        }
        padding-bottom: percent(481, 1230);
        @media (max-width: $mobile) {
            padding-bottom: percent(481, 435);
        }
    }
    // .drop__content
    &__content {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            flex: 0 0 65%;
            @include adaptiveValue("padding-left", 100, 30, 0, 1440, 992);
        }
    }
    // .drop__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 25);
        }
    }
    // .drop__form
    &__form {
        .form__line {
            &:not(:last-child) {
                margin-bottom: 0px;
            }
        }
    }
}
