.event {
    // .event__about
    &__about {
    }
    // .course__curator
    &__curator {
    }
    // .event__benefits
    &__benefits {
        @include adaptiveValue("padding-bottom", 140, 40);
    }
    // .event__subscribe
    &__subscribe {
    }
    // .event__miss
    &__miss {
    }
    // .event__like
    &__like {
        background-color: #f4f5f6;
        @include adaptiveValue("padding-top", 100, 40);
        @include adaptiveValue("padding-bottom", 185, 60);
        .like__container {
            position: relative;
            z-index: 2;
        }
        .like__event {
            margin: toRem(-20);
            padding: toRem(20);
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 80, 30);
            }
            opacity: 0;
            &._watcher-view {
                transition: all 0.8s;
                opacity: 1;
            }
        }
        .like__item {
            opacity: 1;
            transform: translate(0px, 0px);
            height: 100%;
            grid-template-columns: auto;
            gap: toRem(20);
            @media (any-hover: hover) {
                &:hover {
                    box-shadow:
                        0px 4px 4px -4px rgba(30, 33, 44, 0.03),
                        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
                        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
                        0px 80px 80px -20px rgba(154, 156, 165, 0.08);
                }
            }
        }
        .like__slide {
            height: 100%;
        }
        .like__top {
            transform: translate(0, 30%);
            opacity: 0;
            &._watcher-view {
                transition: all 0.8s;
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
        .item-event__title {
            font-size: toRem(18);
        }
        .item-event__body {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 30, 10);
            }
        }
    }
}
//========================================================================================================================================================

.about-event {
    @include adaptiveValue("padding-top", 120, 40);
    @include adaptiveValue("padding-bottom", 114, 40);
    // .about-event__container
    &__container {
        display: flex;
        @media (max-width: $tablet) {
            flex-direction: column;
            gap: toRem(30);
        }
    }
    // .about-event__content
    &__content {
        transform: translate(-15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $tablet) {
            @include adaptiveValue("padding-right", 135, 40, 0, $containerWidth, 992);

            flex: 0 0 59.8%;
        }
    }
    // .about-event__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    // .about-event__faq
    &__faq {
        @media (max-width: $tablet) {
            flex: 0 0 40.2%;
        }
    }
    // .about-event__info
    &__info {
        transform: translate(15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
}
//========================================================================================================================================================
.subscribe-event {
    position: relative;
    // .subscribe-event__decor
    &__decor {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        // .subscribe-event__decor--1
        &--1 {
            top: percent(235, 354);
            left: percent(5, 1230);
        }
        // .subscribe-event__decor--2
        &--2 {
            top: percent(270, 354);
            left: percent(400, 1230);
        }
        // .subscribe-event__decor--3
        &--3 {
            top: 0;
            left: percent(1067, 1230);
        }
    }
    // .subscribe-event__container
    &__container {
        display: flex;
        border-radius: toRem(4);
        padding: toRem(60) toRem(105);
        @include adaptiveValue("padding-top", 60, 30, 0, $containerWidth, 767);
        @include adaptiveValue("padding-bottom", 60, 30, 0, $containerWidth, 767);
        @include adaptiveValue("padding-left", 105, 40, 0, $containerWidth, 767);
        @include adaptiveValue("padding-right", 150, 40, 0, $containerWidth, 767);
        @media (max-width: $mobileSmall) {
            padding: toRem(40) toRem(15);
        }
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            gap: toRem(30);
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.2;
            background: var(--btn-gradient, linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%));
        }
    }

    // .subscribe-event__block
    &__block {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 24, 15);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: stretch;
        }
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }

    // .subscribe-event__image
    &__image {
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;

            opacity: 1;
        }
        @media (min-width: $mobile) {
            flex: 0 0 25%;
        }
        @media (max-width: $mobile) {
            align-self: center;
        }
        position: relative;
        z-index: 2;
        img {
            max-width: 100%;
        }
    }
    // .subscribe-event__content
    &__content {
        transform: translate(0, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        position: relative;
        z-index: 2;
        @media (min-width: $mobile) {
            flex: 0 0 75%;
            @include adaptiveValue("padding-left", 114, 30, 0, 1440, 992);
        }
    }
    // .subscribe-event__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }
    // .subscribe-event__form
    &__form {
    }
    // .subscribe-event__line
    &__line {
        flex: 1 1 auto;
    }
    // .subscribe-event__button
    &__button {
    }
    // .subscribe-event__checkbox
    &__checkbox {
        font-weight: 400;
        line-height: 160%;
    }
}
//========================================================================================================================================================
.miss {
    @include adaptiveValue("padding-top", 120, 40);
    @include adaptiveValue("padding-bottom", 120, 40);
    // .miss__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: toRem(30);
        }
    }
    // .miss__block
    &__block {
        transform: translate(0%, 20%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            flex: 0 0 51%;
            @include adaptiveValue("padding-right", 125, 30, 0, $containerWidth, 767);
        }
    }
    // .miss__image-ibg
    &__image-ibg {
        transform: translate(0%, 20%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (min-width: $mobile) {
            flex: 0 0 49%;
        }
        padding-bottom: percent(463, 1200);

        @media (max-width: $mobile) {
            align-self: stretch;

            padding-bottom: percent(463, 600);
        }
    }
}
//========================================================================================================================================================
.like {
    position: relative;
    &__event {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    // .like__decor
    &__decor {
        position: absolute;
        pointer-events: none;
        // .like__decor--1
        &--1 {
            top: percent(540, 887);
            left: percent(242, 1920);
        }
        // .like__decor--2
        &--2 {
            top: percent(319, 887);
            left: percent(1748, 1920);
        }
        // .like__decor--3
        &--3 {
            bottom: 0;
            right: 0;
        }
    }
}
