.footer {
   
    // .footer__main
    &__main {
    }
    // .footer__bottom
    &__bottom {
    }
}
summary::-webkit-details-marker,
summary::marker {
    display: none;
    font-size: 0;
}
.main-footer {
    @include adaptiveValue("padding-top", 80, 40);
    @include adaptiveValue("padding-bottom", 60, 40);
    background-color: var(--secondary);
    // .main-footer__container
    &__container {
        display: grid;
        grid-template-columns: minmax(toRem(200), percent(280, 1230)) auto minmax(toRem(202), percent(262, 1230));
        @include adaptiveValue("gap", 80, 40, 0, $containerWidth, 992);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobile) {
            grid-template-columns: auto;
        }
    }
    // .main-footer__column
    &__column {
        @media (max-width: $tablet) and (min-width: $mobile) {
            &:last-child {
                grid-column: span 2;
            }
        }
        &--lists {
            display: flex;
            justify-content: space-between;
            @include adaptiveValue("gap", 80, 40, 0, $containerWidth, 992);
            @media (max-width: $mobileSmall) {
                @include adaptiveValue("gap", 40, 5, 0, 480, 479);

                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .main-footer__title {
                    text-align: center;
                }
            }
            .main-footer__title {
                cursor: pointer;

                width: 100%;
                position: relative;
                white-space: nowrap;
            }
        }
    }
    // .main-footer__logo
    &__logo {
        display: block;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 15);
        }
    }
    // .main-footer__text
    &__text {
        color: rgba(255, 255, 255, 0.6);

        font-size: toRem(12);
        font-weight: 400;
        line-height: 150%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 38, 20);
        }
    }
    // .main-footer__socials
    &__socials {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 20, 15);
        flex-wrap: wrap;
    }
    // .main-footer__social
    &__social {
        font-size: toRem(0);
        &::before {
            font-size: toRem(24);
            transition: color 0.3s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    color: #fff;
                }
            }
        }
    }
    // .main-footer__block
    &__block {
    }
    // .main-footer__title
    &__title {
        font-weight: 700;
        line-height: 150%;
        letter-spacing: toRem(1);
        text-transform: uppercase;
        color: #fff;
        &:not(:last-child) {
            margin-bottom: toRem(12);
        }
    }
    // .main-footer__list
    &__list {
    }
    // .main-footer__item
    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }
    // .main-footer__link
    &__link {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
        line-height: 160%;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
        // .main-footer__link--icon
        &--icon {
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: toRem(8);
        }
    }
    // .main-footer__form
    &__form {
        position: relative;
        &:not(:last-child) {
            margin-bottom: toRem(12);
        }
    }
    &__input {
        border-radius: toRem(4);
        border: toRem(1) solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.12);
        width: 100%;
        &:focus {
            color: #fff;
        }
        font-size: toRem(12);
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        line-height: 150%;
        padding: toRem(1) toRem(34) toRem(1) toRem(12);
        height: toRem(36);
        &::placeholder {
            transition: opacity 0.3s;
        }
        &:focus::placeholder {
            opacity: 0;
        }
    }
    // .main-footer__line
    &__line {
        position: relative;
        .form__error {
            position: absolute;
            top: 100%;
            left: 0;
            color: var(--red);
            font-size: toRem(12);
        }
    }
    // .main-footer__button
    &__button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        display: flex;
        font-size: toRem(12);
        color: #fff;
        justify-content: center;
        align-items: center;
        width: toRem(36);
        height: toRem(36);
    }
    // .main-footer__info
    &__info {
        color: rgba(255, 255, 255, 0.6);
        font-size: toRem(10);
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}

.bottom-footer {
    background-color: rgba(31, 33, 43, 0.7);

    padding: toRem(20) 0;
    // .bottom-footer__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(15);
    }
    // .bottom-footer__right
    &__right {
        color: #fff;
        font-size: toRem(12);
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    // .bottom-footer__top
    &__top {
        color: rgba(255, 255, 255, 0.5);
        font-size: toRem(14);
        font-weight: 700;
        line-height: 150%;
        white-space: nowrap;
        text-transform: uppercase;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
    }
}
