//====================================================================================================
.main {
    overflow: hidden;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background: var(--btn-gradient, linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%));
    }
    @include adaptiveValue("padding-top", 180, 130);
    @include adaptiveValue("padding-bottom", 80, 30);
    @media (min-width: em(880)) {
    }
    background-color: #fff;
    // .main__container
    &__container {
        position: relative;
        z-index: 2;
    }
    // .main__body
    &__body {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 190, 40);
        }
        @media (max-width: em(880)) {
            flex-direction: column;
            align-items: stretch;
            gap: toRem(30);
        }
    }
    // .main__content
    &__content {
        flex: 0 0 51.1%;
        @media (min-width: em(880)) {
            @include adaptiveValue("padding-right", 180, 40, 0, $containerWidth, 992);
        }
    }
    // .main__image-ibg
    &__image-ibg {
        flex: 0 0 48.9%;
        padding-bottom: percent(551, 1230);
        @media (max-width: em(880)) {
            padding: 0;
            aspect-ratio: 1/0.92;
        }
    }
    // .main__bottom
    &__bottom {
    }
    // .main__icons
    &__icons {
    }
}
.content-main {
    // .content-main__play
    &__play {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 10);
        }
    }
    // .content-main__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }
    // .content-main__actions
    &__actions {
        display: flex;
        align-items: center;
        gap: toRem(24);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            gap: toRem(16);
        }
    }
    // .content-main__button
    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
.play-main {
    display: flex;
    align-items: center;
    gap: toRem(16);

    // .play-main__item
    &__item {
        position: relative;
        img {
            position: relative;
            z-index: 2;
        }
        &::before {
            content: "";
            @include adaptiveValue("width", 84, 70);
            @include adaptiveValue("height", 84, 70);
            border-radius: 50%;
            background-color: #ff3f3a;
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: play 1.4s 0.2s infinite linear;
        }
        @keyframes play {
            0% {
                transform: translate(-50%, -50%) scale(0.4);
                opacity: 1;
            }
            90% {
                opacity: 0.2;
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
                opacity: 0;
            }
        }
    }
    // .play-main__text
    &__text {
        color: var(--secondary);
        font-size: toRem(14);
        font-weight: 700;
        line-height: 150%;
    }
}
.bottom-main {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("gap", 140, 48, 0, $containerWidth, 1000);
    @media (max-width: em(1000)) {
        justify-content: center;
        @include adaptiveValue("gap", 48, 15, 0, 1000, 767);
    }
    @media (max-width: em(850)) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(550)) {
        grid-template-columns: auto;
    }
    // .bottom-main__item
    &__item {
        display: flex;
        align-items: center;

        gap: toRem(12);
        color: var(--secondary);
        position: relative;
        &:not(:last-child) {
            @media (min-width: em(1000)) {
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    @include adaptiveValue("right", -66, -28, 0, $containerWidth, 1000);
                    // transform: translate(50%, -50%);
                    width: toRem(8);
                    height: toRem(8);
                    border-radius: 50%;
                    background-color: #ff3f3a;
                }
            }
        }
        @media (max-width: em(850)) {
            justify-content: center;
        }
    }
    // .bottom-main__conter
    &__conter {
        @include adaptiveValue("font-size", 46, 32);

        font-weight: 900;
        line-height: 130%;
    }
    // .bottom-main__info
    &__info {
        font-weight: 400;
        line-height: 130%;
    }
}
.icons-main {
    // .icons-main__item
    &__item {
        position: absolute;
        // .icons-main__item--1
        &--1 {
            top: toRem(-20);
            left: percent(1720, 1920);
        }
        // .icons-main__item--2
        &--2 {
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
        }
        // .icons-main__item--3
        &--3 {
            top: percent(749, 1060);

            left: percent(1760, 1920);
        }
        // .icons-main__item--4
        &--4 {
            top: percent(758, 1060);
            left: percent(733, 1920);
            @media (max-width: em(550)) {
                display: none;
            }
        }
        // .icons-main__item--5
        &--5 {
            top: percent(487, 1060);
            left: percent(782, 1920);
            @media (max-width: em(550)) {
                display: none;
            }
        }
        // .icons-main__item--7
        &--6 {
            img {
                transform: rotate(-140deg);
            }
            top: percent(133, 1060);
            left: percent(82, 1920);
            @media (max-width: em(550)) {
                display: none;
            }
        }
    }
}
//====================================================================================================
.why {
    position: relative;
    @include adaptiveValue("padding-top", 180, 40);
    @include adaptiveValue("padding-bottom", 90, 20);

    // .why__container
    &__container {
        display: flex;
        @media (max-width: em(850)) {
            flex-direction: column-reverse;
            gap: toRem(30);
        }
    }

    // .why__decor
    &__decor {
    }
    // .why__decor-item
    &__decor-item {
        position: absolute;
        &--1 {
            top: percent(473, 900);
            left: percent(1730, 1920);
            @media (max-width: $pc) {
                top: inherit;
                bottom: 0;
            }
            @media (max-width: em(850)) {
                display: none;
            }
        }
        &--2 {
            top: percent(220, 900);
            left: 0;
            transform: translate(-50%, 0px);
            @media (max-width: em(1300)) {
                display: none;
            }
        }
    }

    // .why__image-ibg
    &__image-ibg {
        z-index: 2;
        flex: 0 0 57.3%;
        padding-bottom: percent(560, 1230);
        @media (max-width: em(850)) {
            padding-bottom: percent(560, 705);
        }
        transform: translate(-15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .why__content
    &__content {
        flex: 0 0 42.7%;
        @media (min-width: em(850)) {
            @include adaptiveValue("padding-left", 135, 30, 0, $containerWidth, 992);
        }
        transform: translate(15%, 15%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .why__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    // .why__list
    &__list {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }
    // .why__link
    &__link {
    }
}
//========================================================================================================================================================
.featured-courses {
    @include adaptiveValue("padding-top", 90, 20);
    @include adaptiveValue("padding-bottom", 90, 20);
    // .featured-courses__container
    &__container {
    }
    // .featured-courses__hedear
    &__hedear {
        display: flex;
        justify-content: space-between;
        gap: toRem(15);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .featured-courses__link
    &__link {
        @media (min-width: $mobileSmall) {
            align-self: flex-end;
        }
    }
    // .featured-courses__items
    &__items {
        display: grid;
        @include adaptiveValue("gap", 30, 15, 0, $containerWidth, 1000);
        grid-template-columns: repeat(2, 1fr);
        // align-items: start;
        @media (max-width: em(500)) {
            grid-template-columns: auto;
        }
    }
    // .featured-courses__item
    &__item {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (max-width: $tablet) {
            flex-direction: column;
            .card-course__image-ibg {
                flex: 1 1 auto;
            }
        }
        @media (max-width: em(500)) and (min-width: em(400)) {
            flex-direction: row;
            .card-course__image-ibg {
                flex: 0 0 toRem(150);
            }
            .card-course__title {
                line-height: 120%;
            }
        }
        // @media (max-width: em()) {
        // }
    }
}
//========================================================================================================================================================
// benefits
.benefits {
    @include adaptiveValue("padding-top", 90, 20);
    @include adaptiveValue("padding-bottom", 90, 20);
    // .benefits__container
    &__container {
    }
    // .benefits__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }
    // .benefits__tabs
    &__tabs {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .benefits__navigation
    &__navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: toRem(10);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }
    // .benefits__title
    &__title {
        padding-top: toRem(10);
        padding-bottom: toRem(10);
        @include adaptiveValue("padding-right", 72, 30, 0, $containerWidth, 992);
        @include adaptiveValue("padding-left", 72, 30, 0, $containerWidth, 992);
        font-weight: 700;
        line-height: 160%;
        color: #9a9ca5;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        gap: toRem(8);
        border: toRem(1) solid initial;
        @media (any-hover: hover) {
            &:hover {
                color: var(--red);
            }
        }
        &._tab-active {
            color: var(--red);
            border-radius: toRem(4);
            border: 1px solid var(--red);
        }
    }
    // .benefits__content
    &__content {
    }
    // .benefits__body
    &__body {
    }
}

.body-benefits {
    &__wrap {
        display: flex;
        align-items: center;
        @media (max-width: em(600)) {
            flex-direction: column;
            align-items: stretch;
        }
    }
    // .body-benefits__content
    &__content {
        flex: 0 0 51.2%;
        @include adaptiveValue("padding-right", 135, 30, 0, $containerWidth, 992);
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.8s;
        ._watcher-view & {
            animation: animBottom 1s ease forwards;

            @keyframes animBottom {
                0% {
                    transform: translate(0px, 120%);
                    opacity: 0;
                }
                100% {
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
            }
        }
    }
    // .body-benefits__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 18);
        }
    }
    // .body-benefits__text
    &__text {
    }
    // .body-benefits__image-ibg
    &__image-ibg {
        padding-bottom: percent(600, 1230);
        flex: 0 0 48.8%; /* 600/1230 */
        @media (max-width: em(600)) {
            aspect-ratio: 1/1;
        }
        transition: all 0.8s;
        opacity: 0;
        transform: scale(0.8);
        ._watcher-view & {
            animation: animOp 1s ease forwards;
            @keyframes animOp {
                0% {
                    opacity: 0;
                    transform: scale(0.8);
                }
                100% {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}
//========================================================================================================================================================
.workshops {
    overflow: hidden;
    @include adaptiveValue("padding-top", 80, 40);
    @include adaptiveValue("padding-bottom", 80, 40);
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
    }
    // .workshops__container
    &__container {
        position: relative;
        z-index: 2;
    }

    // .workshops__decor
    &__decor {
        position: absolute;
        // .workshops__decor--1
        &--1 {
            top: toRem(-142);
            right: 0;
        }
        // .workshops__decor--2
        &--2 {
            bottom: 0;
            left: 0;
        }
    }

    // .workshops__header
    &__header {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    // .workshops__items
    &__items {
        display: grid;
        @include adaptiveValue("gap", 34, 20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    // .workshops__item
    &__item {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .workshops__more
    &__more {
    }
}
//========================================================================================================================================================
.team {
    background-color: #f4f5f6;
    @include adaptiveValue("margin-top", -45, 0, 0, $containerWidth, 767);
    @include adaptiveValue("padding-top", 166, 60);
    @include adaptiveValue("padding-bottom", 90, 40);

    position: relative;
    // .team__decor
    &__decor {
        position: absolute;
        // .team__decor--1
        &--1 {
            top: percent(536, 815);
            left: percent(1842, 1920);
            @media (max-width: $tablet) {
                display: none;
            }
        }
        // .team__decor--2
        &--2 {
            top: percent(35, 815);
            left: percent(1252, 1920);
            @media (max-width: em(500)) {
                display: none;
            }
        }
        // .team__decor--3
        &--3 {
            top: percent(83, 815);
            left: percent(204, 1920);
        }
    }

    // .team__container
    &__container {
        position: relative;
        z-index: 3;
    }
    // .team__header
    &__header {
        display: flex;
        justify-content: space-between;
        gap: toRem(10);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 25);
        }
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .team__top
    &__top {
    }
    // .team__arrows
    &__arrows {
    }
    // .team__arrow
    &__arrow {
        // .team__arrow--prev
        &--prev {
        }
        // .team__arrow--next
        &--next {
        }
    }
    // .team__slider
    &__slider {
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // .team__wrapper
    &__wrapper {
    }
    // .team__slide
    &__slide {
    }
}
.slide-team {
    // .slide-team__item
    &__item {
    }
}
//========================================================================================================================================================
.posts {
    @include adaptiveValue("padding-top", 120, 40);
    @include adaptiveValue("padding-bottom", 180, 40);
    // .posts__container
    &__container {
    }
    // .posts__header
    &__header {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        display: flex;
        gap: toRem(20);
        justify-content: space-between;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
    }
    // .posts__top
    &__top {
    }
    // .posts__button
    &__button {
        @media (min-width: $mobileSmall) {
            align-self: flex-end;
        }
    }
    // .posts__items
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: em(650)) {
            grid-template-columns: auto;
        }
        gap: toRem(30);
    }
    // .posts__item
    &__item {
        transform: translate(0, 30%);
        opacity: 0;
        &._watcher-view {
            transition: all 0.8s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
}
