.testimonials {
    @include adaptiveValue("padding-top", 90, 40);
    @include adaptiveValue("padding-bottom", 100, 40);
    background-color: #f4f5f6;
    position: relative;
    // .testimonials__decor
    &__decor {
        position: absolute;
        // .testimonials__decor--1
        &--1 {
            top: percent(23, 745);
            left: percent(75, 1920);
            @media (max-width: $mobileSmall) {
                opacity: 0.5;
            }
        }
        // .testimonials__decor--2
        &--2 {
            top: percent(541, 745);
            left: percent(343, 1920);
            @media (max-width: $mobile) {
                display: none;
            }
        }
        // .testimonials__decor--3
        &--3 {
            @media (max-width: $mobileSmall) {
                display: none;
            }

            top: percent(122, 745);
            left: percent(1183, 1920);
        }
        // .testimonials__decor--4
        &--4 {
            z-index: 2;
            top: percent(581, 745);
            left: percent(1788, 1920);
        }
    }

    // .testimonials__container
    &__container {
        position: relative;
        z-index: 3;
        min-width: 0;
    }
    // .testimonials__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 69, 15);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 25);
        }
    }
    // .testimonials__slider
    &__slider {
        min-width: 0;
    }
    // .testimonials__arrow
    &__arrow {
        @media (max-width: em(600)) {
            display: none;
        }
    }
    // .testimonials__wrapper
    &__wrapper {
    }
    // .testimonials__slide
    &__slide {
    }
}
.slide-testimonials {
    background-color: #fff;
    padding: toRem(64) toRem(105);
    @include adaptiveValue("padding-top", 64, 20);
    @include adaptiveValue("padding-bottom", 64, 20);
    @include adaptiveValue("padding-left", 100, 30);
    @include adaptiveValue("padding-right", 100, 30);
    display: flex;
    gap: toRem(30);
    max-width: toRem(1020);
    // .slide-testimonials__quotes
    &__quotes {
        @media (max-width: em(410)) {
            display: none;
        }
    }
    // .slide-testimonials__body
    &__body {
    }
    // .slide-testimonials__text
    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .slide-testimonials__person
    &__person {
        display: flex;
        align-items: center;

        gap: toRem(15);
    }
    // .slide-testimonials__avatar-ibg
    &__avatar-ibg {
        flex: 0 0 toRem(72);
        width: toRem(72);
        height: toRem(72);
        border-radius: 50%;
    }
    // .slide-testimonials__info
    &__info {
    }
    // .slide-testimonials__name
    &__name {
        color: var(--secondary);
        &:not(:last-child) {
            margin-bottom: toRem(3);
        }
        font-weight: 700;
        line-height: 160%;
    }
    // .slide-testimonials__position
    &__position {
        color: var(--gray);
        font-size: toRem(14);
        font-weight: 400;
        line-height: 150%;
    }
}

.testimonials-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(12);
    .swiper-pagination-bullet {
        width: toRem(30);
        height: toRem(3);
        background: #b3b7bc;
        transition: all 0.3s;
        border-radius: toRem(4);
    }
    .swiper-pagination-bullet-active {
        background: #424551;
    }
}
