/* --- Блок: add-button --- */
.add-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #27ae60; /* Зелений колір для додавання */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        transform 0.1s ease;

    &:hover {
        background-color: #219d53;
    }

    &:active {
        transform: translateY(1px);
    }
}
