#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @supports (overflow: clip) {
        overflow: clip;
    }
    // Притискаємо footer
    > main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    // Фікс для слайдерів
    > * {
        min-width: 0;
    }
}

html,
body {
    height: 100%; // щоб body розтягувалось
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    min-height: 100%;
    flex: 1 1 auto;
}
