.main-title {
    font-size: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

img {
    margin: 0 !important;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
        grid-template-columns: auto;
    }
}

.inline-view {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.course-wrapper-image {
    position: relative;
    padding-bottom: 40%;
    flex: 1 1 auto;
}
.course-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #05070a;
    color: #fff;
    transition: all 0.3s;
    &:hover {
        text-decoration: none;
        background-color: hsl(220, 20%, 25%);
    }
    &--inherit {
        color: rgb(71, 83, 107) !important;
        background-color: inherit;
        &:hover {
            background-color: rgb(235, 238, 244);
        }
    }
    &--border {
        border: 1px solid #05070a;
        &:hover {
            color: #fff !important;
            background-color: #05070a;
        }
    }
}

// .main-section {
//     background-repeat: no-repeat;
//     background: radial-gradient(ellipse 80% 50% at 50% -20%, hsl(210, 100%, 90%), transparent);
// }

.main-section-button {
    @media (max-width: 1100px) {
        text-align: center;
        flex: 1 1 auto;
    }
}
