.menu-link {
    border-radius: 8px;
    transition: all 0.3s;
    padding: 8px 12px;
    &:hover {
        background-color: rgb(235, 238, 244);
    }
}
.header__body {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.detail-user {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(71, 83, 107);
    &:hover {
        color: #027af2;
    }
    &__body {
        max-width: 100px;
    }
    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        transition: all 0.3s;
        font-weight: 700;
    }
    &__image {
        svg {
            transition: all 0.3s;
        }
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}
